<h3>Bysykler:</h3>
<table>
    <thead>
        <th>Stativ</th>
        <th>Ledige Sykler</th>
    </thead>
    <tbody>
        <tr>
            <td>Bjerregaards gate</td>
            <td> {{ bikeStatuses["Bjerregaards gate"] }}</td>
        </tr>
        <tr>
            <td>St. Hanshaugen</td>
            <td>{{ bikeStatuses["St. Hanshaugen"] }}</td>
        </tr>
        <tr>
            <td>Ullevålsveien</td>
            <td>{{ bikeStatuses["Ullevålsveien"] }}</td>
        </tr>
    </tbody>
</table>