<h3>Været</h3>
Værmelding for {{ timestamp }}:
<table>
    <thead>
        <th>Periode</th>
        <th>Sannsynlighet for nedbør</th>
        <th>Nedbør</th>
        <th>Temperatur</th>
        <th>Beskrivelse</th>
    </thead>
    <tbody>
        <tr>
            <th>1 time</th>
            <td>{{ forecast.data.next_1_hours.details.probability_of_precipitation }} %</td>
            <td>
                {{ forecast.data.next_1_hours.details.precipitation_amount_min }}
                - {{ forecast.data.next_1_hours.details.precipitation_amount_max }} mm</td>
            <td>
                {{ forecast.data.instant.details.air_temperature }} <span>&#8451;</span>
            </td>
            <td>
                {{ forecast.data.next_1_hours.summary.symbol_code }}
            </td>
        </tr>
                <tr>
            <th>6 timer</th>
            <td>{{ forecast.data.next_6_hours.details.probability_of_precipitation }} %</td>
            <td>
                {{ forecast.data.next_6_hours.details.precipitation_amount_min }}
                - {{ forecast.data.next_6_hours.details.precipitation_amount_max }} mm</td>
            <td>
                {{ forecast.data.next_6_hours.details.air_temperature_min }}
                - {{ forecast.data.next_6_hours.details.air_temperature_max }} <span>&#8451;</span>
            </td>
            <td>
                {{ forecast.data.next_6_hours.summary.symbol_code }}
            </td>
        </tr>
        <tr>
            <th>12 timer</th>
            <td>{{forecast.data.next_12_hours.details.probability_of_precipitation }} %</td>
        </tr>
    </tbody>
</table>